@import "tailwindcss";

/* Opcional: Un fondo oscuro global para nuestro tema moderno */
@theme {
  --color-background: #0f172a; /* Slate 900 */
}

body {
  background-color: var(--color-background);
  color: white;
}